.subcard{
    top: 18rem;
    left: 43rem;
    width: 32rem;
}

.bank-title{
    font-weight: bold !important;
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    
}

.bank-wrapper{
    padding: 1rem;
}

.bank-row{
    padding-bottom: 1rem;

}

.add-bank{
    float: right;
    width: 11rem;
    top: 1rem;
    margin-right: 3.3rem;
    background-color: #2E7A35 !important;
    font-size: 12px !important;
}



.bank-name{
    font-weight: bold;
    padding-left: 1rem;
    
}
.edit-icon{
    height: 20px;
    float: right;
    padding-right: 0.5rem;
}

.trash-icon{
    height: 20px;
    float: right;
}


.bank-owner{
    vertical-align: bottom;
    margin-bottom: 0 !important;
    color: gray;
    font-size: small;
    padding-top: 1rem;
}

.bank-currency{
    vertical-align: bottom;
    
    color: gray;
    font-size: small;
}

.bank-detail-wrapper{
    margin-left: 1rem;
}



